<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MonsterGolf.Properties.Settings.MonsterScoringConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\MonsterScoring.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="showfilterbest" value="true" />
    <add key="minusinparpoints" value="true" />
    <add key="listGolfers.CheckOnClick" value="False" />
    <add key="DBConnection" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=MonsterScoring.mdb" />
    <add key="WEBDBConnection" value="Persist Security Info=False;User ID=monstergolf;Password=M0nS+0n@!n;Initial Catalog=monstergolf;Data Source=monstergolf.db.6071781.hostedresource.com;" />
    <!--<add key="WEBDBConnection" value="Persist Security Info=False;User ID=monstergolf;Password=M0nS+0n@!n;Initial Catalog=monstergolf_5_20_13;Data Source=(local)\DS02;" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>