<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="ajaxNet">
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<ajaxNet>
		<ajaxSettings>
			<urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false">
			</urlNamespaceMappings>
			<jsonConverters>
			</jsonConverters>
			<debug enabled="false"/>
			<scriptReplacements>
				<file name="prototype" path="~/ajaxpro/prototype.ashx"/>
				<file name="core" path="~/ajaxpro/core.ashx"/>
				<file name="converter" path="~/ajaxpro/converter.ashx"/>
			</scriptReplacements>
			<token enabled="true" sitePassword="mtsLLCnd"/>
		</ajaxSettings>
	</ajaxNet>
	<appSettings>

    <add key="ds_url" value="https://www.docusign.net/API/3.0/dsapi.asmx"/>
    <add key="ds_accountid" value="db639ac2-a870-42bc-a76d-3a7157a9a87c"/>
    <add key="ds_key" value="DOCU-6fccf9db-1315-4987-aaaf-d84e9817c187"/>
    <add key="ds_email" value="monster@monstergolf.org"/>
    <add key="ds_pass" value="TheMonster!"/>
    <!--		
    <add key="ds_url" value="http://localhost/API/3.0/dsapi.asmx"/>
    <add key="ds_key" value="DOCU-6fccf9db-1315-4987-aaaf-d84e9817c187"/>
    <add key="ds_accountid" value="968329aa-86b1-40fb-88aa-a0e0e390f8df"/>
    <add key="ds_email" value="aaron.wald@docusign.com"/>
    <add key="ds_pass" value="aaronwald"/>
      <add key="mailfrom" value="aaron@aaronwald.net"/>
    <add key="mailpassword" value="One58131"/>
 -->
    <add key="ds_backurl" value="http://localhost/monsterscoring/"/>
    <add key="mailserver" value="smtpout.secureserver.net"/>
    <add key="mailfrom" value="monster@monstergolf.org:The Monster"/>
    <add key="mailpassword" value="TheMonster!"/>
    
    <add key="mailreplyto" value="aaron@aaronwald.net:Aaron Wald"/>
  </appSettings>
	<connectionStrings>
    <add name="monster" connectionString="Persist Security Info=False;User ID=monstergolf;Password=M0nS+0n@!n;Initial Catalog=monstergolf;Data Source=monstergolf.db.6071781.hostedresource.com;"/>
    <!--<add name="monster" connectionString="Persist Security Info=False;User ID=monstergolf;Password=M0nS+0n@!n;Initial Catalog=monstergolf;Data Source=(local)\DS02;"/>-->
  </connectionStrings>
  <system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="MySql.Data, Version=5.1.2.2, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
	</system.web>
	<location path="ajaxpro">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			</httpHandlers>
		</system.web>
	</location>
</configuration>
